* { margin:0; padding:0; box-sizing:border-box; font-family:Consolas, monospace; }

body {
  background:black;
  color:#00ff9c;
  height:100vh;
  overflow:hidden;
}

.hidden { display:none; }

/* TAP SCREEN */
#tap {
  position:fixed; inset:0;
  display:flex; justify-content:center; align-items:center;
  background:black;
  z-index:10;
}
.tap-box { text-align:center; }
.tap-box h1 { color:red; animation:blink 1s infinite; }
.tap-box p { margin-top:10px; color:orange; }

@keyframes blink { 50%{opacity:.4;} }

/* MALWARE SCREEN */
#screen { padding:20px; }
.glitch {
  color:red; text-align:center;
  animation:blink .8s infinite;
  margin-bottom:10px;
}
#terminal {
  height:65vh; overflow:hidden;
  font-size:13px; line-height:1.4;
}
.status {
  display:flex; justify-content:space-between;
  font-size:12px; color:orange; margin:10px 0;
}
.progress-box {
  width:100%; height:12px;
  border:1px solid #00ff9c;
}
#bar {
  width:0%; height:100%;
  background:#00ff9c;
  transition:width .08s linear;
}

/* PRANK POPUP */
#prank {
  position:fixed; inset:0;
  display:flex; justify-content:center; align-items:center;
  background:rgba(0,0,0,.95);
}
.popup {
  border:2px solid #00ff9c;
  padding:30px; text-align:center;
  box-shadow:0 0 25px #00ff9c;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;        /* SUPER PENTING */
  pointer-events: auto; /* SUPER PENTING */
}

.system-popup {
  pointer-events: auto; /* BIAR BUTTON HIDUP */
}

.system-popup {
  background: #0a0a0a;
  border: 2px solid red;
  padding: 25px 30px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 30px red;
  animation: popupFlicker 0.15s infinite;
}

.system-popup h2 {
  color: red;
  margin-bottom: 12px;
}

.system-popup p {
  color: #f5f5f5;
  font-size: 14px;
  margin-bottom: 18px;
}

.system-popup button {
  background: black;
  color: red;
  border: 1px solid red;
  padding: 8px 20px;
  cursor: pointer;
  font-family: Consolas, monospace;
}

.system-popup button:hover {
  background: red;
  color: black;
}

/* GLITCH EFFECT */
.glitch-box {
  animation: glitchShake 0.2s infinite;
}

@keyframes glitchShake {
  0% { transform: translate(0); }
  25% { transform: translate(-2px, 1px); }
  50% { transform: translate(2px, -1px); }
  75% { transform: translate(-1px, 2px); }
  100% { transform: translate(0); }
}

@keyframes popupFlicker {
  0% { opacity: 1; }
  50% { opacity: 0.85; }
  100% { opacity: 1; }
}
